.card{
    height:200px;
    width:200px;
    border:2px solid black;
    display:inline-block;
    margin:10px;
    border-radius: 2px;
    box-shadow: 2px 4px 9px black;
}

img{
    height:100%;
    width:100%;
}

.desc{
    padding: 0 2px 0 2px;
}