section{
    margin-top: 100px;
}

div{
    height: 80px;
    width: 180px;
    border: 2px solid black;
    text-align: center;
    background-color: blueviolet;
    margin: 10px auto;
}

div:nth-of-type(2n){
    background-color: brown;
}

div:nth-of-type(3n){
    background-color: pink;
}

/* tranform rotate property */
#one{
    transform: rotate(20deg);
}

#five{
    transform: rotate(20deg);
}

/* scale property */
#four{
    transform: scale(1.25);
    /* transform: scale(1, 2); for x & y direaction
    transform: scaleX(2); for only x direaction */
}

/* translate proprety */
#three{
    transform: translate(20px, 50px); /*move in x & y direction*/
    /* transform: translate(-100px);  for negavtive movement*/
    /* transform: translateX(20px); for x
    transform: translateY(50px); for y */
}

/* skew proprety */
#two{
    transform: skew(20deg); /*element will tilt a lill */
}

/* we can apply more than one property on an single element too ie, rotate,translate, scale */
#six{
    transform: rotate(45deg) translateX(150px) scale(1.2);
}